<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="nav-style.css">
    <link rel="stylesheet" href="body-general.css">
    <link rel="stylesheet" href="monster.css">
    <title>UNTOLD | Dungeon</title>
    

</head>

<body>
    <%- include('./partials/navbar.ejs') %>

    <div class="judul">
        <h1>Monsters</h1>
        <h3>Monsters of UNTOLD World</h3>
    </div>
    <div class="container">
        <br>
        <form action="/admin/monsters/search" method="POST">
            <table>
                <tr>
                    <td>Search by</td>
                    <td>: <select name="by" id="by">
                            <option value="id">ID</option>
                            <option value="name">name</option>
                        </select>
                    </td>
                    <td> <input type="text" name="search"></td>
                    <td><button type="submit">SEARCH</button></td>
                </tr>
            </table>
        </form>

        <br>
        <h1 class="title">Monsters</h1>
        <br>
        <div class="monster-table">
            <table>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>HEALTH POINT</th>
                    <th>ATTACK POINT</th>
                    <th>LEVEL</th>
                    <th>OPTIONS</th>
                </tr>
    
                <% for (let monster of monsters) { %>
    
                <tr>
                    <td><%= monster.dataValues.id %></td>
                    <td><%= monster.dataValues.name %></td>
                    <td><%= monster.dataValues.hp %></td>
                    <td><%= monster.dataValues.ap %></td>
                    <td><%= monster.dataValues.level %></td>
                    <td><button class="edit" onclick="window.location.href = '/admin/monsters/edit/<%= monster.dataValues.name %>'">Edit</button>
                        | <button class="delete" onclick="window.location.href = '/admin/monsters/delete/<%= monster.dataValues.id %>'" onclick="return confirm('Are you sure?')">Delete</button>
                </tr>
    
                <%}%>                
            </table><br>
            <button class="add-monster" onclick="window.location.href='/admin/monsters/add'">Add New Monster</button>
            <br>
        </div>
    </div>

</body>

</html>