<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UNTOLD | Dungeon</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        nav {
            position: fixed;
            height: 60px;
            width: 100%;
            background-color: black;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.808);
            z-index: 100;
        }

        li {
            display: inline-block;
            margin-top: 17px;
        }

        a.title {
            font-size: 25px;
            color: black;
            text-decoration: none;
            font-size: 20px;
            background-color: white;
            margin: 0 15px;
            padding: 8px;
            border-radius: 15px;
            box-shadow: 0 0 0px white;
            transition: 0.1s
        }

        a.navbar {
            color: black;
            text-decoration: none;
            font-size: 20px;
            background-color: white;
            margin: 0 15px;
            padding: 8px;
            border-radius: 15px;
            box-shadow: 0 0 0px white;
            position: relative;
            transition: 0.5s
        }

        a.navbar:hover {
            box-shadow: 0 0 20px rgb(82, 255, 232);
        }

        a.navbar:active {
            box-shadow: 0 0 20px rgb(255, 255, 255);
        }

        img {
            position: fixed;
            width: 100%;
            top: -250px;
            background-size: cover;
        }

        div.judul {
            position: relative;
            top: 110px;
            text-align: center;
            color: azure;
            text-shadow: 5px 5px 5px black
        }

        .judul h1 {
            display: inline-block;
            font-size: 90px;
            border-bottom: 3px solid azure;
        }

        .judul h3 {
            margin-top: 10px;
        }

        div.container {
            background-color: rgb(32, 32, 32);
            height: 1000px;
            position: relative;
            top: 160px;
            box-shadow: 0 -10px 15px black;
        }
    </style>

</head>

<body>
    <%- include('./partials/navbar.ejs') %>

    <div class="judul">
        <h1>Monsters</h1>
        <h3>Monsters of UNTOLD World</h3>
    </div>
    <div class="container">
        <br>
        <form action="/admin/monsters/search" method="POST">
            <table>
                <tr>
                    <td>Search by</td>
                    <td>: <select name="by" id="by">
                            <option value="id">ID</option>
                            <option value="name">name</option>
                        </select>
                    </td>
                    <td> <input type="text" name="search"></td>
                    <td><button type="submit">SEARCH</button></td>
                </tr>
            </table>
        </form>

        <br>
        <h1>Monsters</h1>
        <br>

        <h2><a href="/admin/monsters/add">Add Monster</a></h2>
        <br>

        <table>
            <tr>
                <th>Id========</th>
                <th>Name========</th>
                <th>HP========</th>
                <th>AP========</th>
                <th>Level========</th>
                <th>Options========</th>
            </tr>

            <% for (let monster of monsters) { %>

            <tr>
                <td><%= monster.dataValues.id %></td>
                <td><%= monster.dataValues.name %></td>
                <td><%= monster.dataValues.hp %></td>
                <td><%= monster.dataValues.ap %></td>
                <td><%= monster.dataValues.level %></td>
                <td><a href="/admin/monsters/edit/<%= monster.dataValues.name %>">Edit</a> | <a
                        href="/admin/monsters/delete/<%= monster.dataValues.name %>"
                        onclick="return confirm('Are you sure?')">Delete</a></td>
            </tr>

            <%}%>
        </table>

    </div>

</body>

</html>